
body {
    background: deepskyblue;
}
h1{
    display: flex;
    justify-content: center;
    font-family: "Fira Sans", sans-serif;
}
main {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

}
div {
    box-sizing: content-box;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 2px rgba(150, 150, 150, .5);
    margin: 2em;
    background-color: white;
    padding: 1em;
}
header {
    background-color: cornflowerblue;
    padding: 1em;
    margin: 1em 1em 0 1em;
    box-shadow: 2px 2px 10px 2px rgba(150, 150, 150, .5);
}
.text {
    max-height: 18em;
    font-family: "Fira Sans", sans-serif;
}
img{
    width: 100%;
    height: auto;
}
